services:
  - type: web
    name: medshare
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: GMAIL_USER
        sync: false
      - key: GMAIL_APP_PASSWORD
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: BASE_URL
        sync: false
